@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .dropdown-toggle {
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
  }
}

.Id_Cliente {
  padding-top: 0px;
  padding-bottom: 0px;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

.table-responsive {
  display: table;
}

.Id_Cliente, .STATUS {
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-left: 4;
  border: 1px solid #e0e0e0;
  font-weight: 200;
}

option {
  font-weight: 200;
  border: 0;
}

.Id_Cliente:focus, .STATUS:focus {
  border: 1px solid #e0e0e0;
}

select:focus,
option:focus {
  border: 1px solid #e0e0e0;
  font-weight: 200;
}


@media (min-width:700px){
  #customTable_filter{
    position: fixed;
    right: 80px;
    top:200px;
    z-index: 1;
  
  }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .progress-bar{pointer-events:visible}

  a, a:link, a:visited{
    color: white;
  }

  a:hover{
    color:#e0e0e0}

  .progress-bar {
    font-size: medium;
    padding-top:15px;
    border-radius: 0px;

  }

  .progress{
    height: 50px;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  #os-progress-card{
    padding-top:28px;
    padding-bottom:25px
  }

  .dropdown-toggle::after{
    border: 0;
  }

  .dropdown-toggle:hover{
     color: #fff
  }

  .dropdown-menu{
    border-radius: 0;
  }

  .container-fluid .shortcut-btn{
    float: left;
  }