{% extends "layout.html"%}
{% block body %}
<div class="table-responsive-md">
    <table class="table">
    <thead> <tr>
    {% for col in clientes %}    
        {% if col != 'ID' %}
        <th class="{{ col }} header" scope="col">{{ col.capitalize() }}</th>
        {% endif %}
    {% endfor %}
    <th class="editar" scope="col">Editar</th>
    </tr>
</thead>
<tbody>
    
    {% for row_data in range(val_len) %} 
       {% if row_data != 0 %}
    <tr>   
            {% for col_data in range(clientes_len) %} 
            {% if col_data != 0 %}
                <td>
                    {% if not clientes_val[row_data][col_data] %}
                     {{" "}}
                     {% else %}
                        {{ clientes_val[row_data][col_data] }}
                    {% endif %}
                </td>
                {% endif %} 
            {% endfor %}
           
            <td width="15%" float="left"><a href="clientes/form/{{ clientes_val[row_data][0] }}">
                <button type="submit" name="id" class="btn-link">Editar</button>
            </a></td>
    </tr> 
    {% endif %}       
    {% endfor %}

</tbody>
   
    
    </table>
</div>

{% endblock %}
