{% extends "layout.html"%}
{% block body %}
{% if edit == True %}
<h2 class="text-center"> 
  Alterar Cliente <i class="fa fa-user-edit"></i>
  
  </h2>
  <hr>
<div class="container">

<form action="/clientes/form/" method="post">
    {% for i in range(cliLen) %}
    {% if clientesCol[i] != 'ID'%}
    <div class="form-group">
      {% if i % 2 == 0 %}
      <div class="form-row">
        <label for="col">{{ clientesCol[i].capitalize() }}</label>
        <input type="text" class="form-control"  id="{{ clientesCol[i] }}" aria-describedby="{{clientesCol[i]}}" placeholder="Insira {{ clientesCol[i].capitalize() }}" value="{{ clientes[i] }}">
      </div>{% else %}
      <label for="col">{{ clientesCol[i].capitalize() }}</label>
      <input type="text" class="form-control"  id="{{ clientesCol[i] }}" aria-describedby="{{clientesCol[i]}}" placeholder="Insira {{ clientesCol[i].capitalize() }}" value="{{ clientes[i] }}">
    </div>
    {% endif %}  
     {% endif %}
    {% endfor %}
    <button class="btn btn-warning btn-lg">
      Alterar Cliente <i class=".glyphicon-glyphicon-pencil"></i></button>
 
</form>
</div>

<br>
<a href="/">
<button class="btn btn-warning btn-lg">
  Novo Cliente <i class=".glyphicon-glyphicon-pencil"></i>
</button></a>

<a href="/">
  <button class="btn btn-warning btn-lg">
   Voltar <i class=".glyphicon-glyphicon-pencil"></i>
  </button></a>
</div>

<a href="/clientes">
  <button class="btn btn-warning btn-lg">
   Voltar <i class=".glyphicon-glyphicon-pencil"></i>
  </button></a>
</div>
{% else %}
<h2 class="text-center"> 
  Cadastro de Cliente <i class="fa fa-user-edit"></i>
  
  </h2><hr>
<div class="container">
  <form>
      {% for i in range(cliLen) %}
      {% if clientes2[i] != 'ID'%}
      <div class="form-group">
      
   

        <label for="col" >{{ clientes2[i].capitalize() }}</label>
        <input type="text" class="form-control"  id="clientes2[i]" aria-describedby="{{clientes2[i]}}" placeholder="Insira {{ clientes2[i].capitalize() }}">
        </div>
     
     
       {% endif %}
      {% endfor %}
      <br>
      <button class="btn btn-warning btn-lg">
        Cadastrar Cliente <i class=".glyphicon-glyphicon-pencil"></i></button>
      </div>
  </form>
  
  <br>
  <a href="/clientes">
    
    <button class="btn btn-warning btn-lg">
     Voltar <i class=".glyphicon-glyphicon-pencil"></i>
    </button></a>
    
  </div>

{% endif %}

{% endblock %}