{% extends "layout.html"%}
{% block body %}
{% if edit == True %}
<h2 class="text-center"> 
  Alterar Item <i class="fa fa-user-edit"></i>
  
  </h2>
  <hr>
<div class="container">

<form action="/estoque/form/{{ clientes[0] }}" method="post">
    {% for i in range(cliLen) %}
    {% if clientesCol[i]  != 'ID'%}
    <div class="form-group">
        
      {% if clientesCol[i] == 'id_cliente' %}

     
        Cliente: <i class="fa fa-user"></i>
          
  
        <select name="id_cliente" class="id_cliente"> 
             
              
              {% for client in range(clients_len -1) %}

              {% if clientes[1] | int == clients[client]['ID'] %}
              <option value="{{clients[client]['ID']}}" selected>{{clients[client]['nome']}}</option>
              {% else %}
              <option value="{{clients[client]['ID']}}">{{clients[client]['nome']}}</option>
              {% endif %}

              {% endfor %}    
             
         
        </select> <br>
  
  
  
      
      {% else %}
  



    
    <div class="form-group">
      <label for="col"  id="{{ clientesCol[i] }}-label">{{ clientesCol[i].capitalize() }}</label>
      <input type="text" class="form-control"  name="{{ clientesCol[i] }}" id="{{ clientesCol[i] }}" aria-describedby="{{clientesCol[i]}}" placeholder="Insira {{ clientesCol[i].capitalize() }}" value="{{ clientes[i] }}">
    </div>
  
     {% endif %}
     {% endif %}
    {% endfor %}
    <button class="btn btn-warning btn-lg">
      Alterar Item <i class=".glyphicon-glyphicon-pencil"></i></button>
 
</form>
</div>

<br>
<form action="/estoque/form/" method="get">
  <button class="btn btn-warning btn-lg">
   Novo Item <i class=".glyphicon-glyphicon-pencil"></i>
  </button></form>

<form action="/estoque/form/" method="get">
  <button class="btn btn-warning btn-lg">
   Voltar <i class=".glyphicon-glyphicon-pencil"></i>
  </button></form>
</div>

{% else %}
<h2 class="text-center"> 
  Cadastro de Item <i class="fa fa-user-edit"></i>
  
  </h2><hr>
<div class="container">
  <form action="/estoque/form/" method="post">
      {% for i in range(cliLen) %}
      {% if clientes2[i] != 'ID'%}
      <div class="form-group">
        
        {% if clientes2[i] == 'id_cliente' %}

       
          Cliente: <i class="fa fa-user"></i>
            
    
          <select name="Id_Cliente" class="Id_Cliente"> 
                <option value="0" selected>SELECIONAR CLIENTE</option>
                
                {% for client in range(clients_len -1) %}
                    <option value="{{clients[client]['ID']}}">{{clients[client]['nome']}}</option>
                {% endfor %}    
               
           
          </select> <br>
    
    
    
        
        {% else %}

        {% if clientes2[i] == 'qt' %}

        <label for="col" id="{{clientes2[i]}}-label"> Quantidade</label>
        <input type="number" class="form-control"  id="{{clientes2[i]}}" aria-describedby="{{clientes2[i]}}" placeholder="Insira Quantidade">
        {% else %}
        <label for="col" >{{ clientes2[i].capitalize() }}</label>
        <input type="text" class="form-control"  id="{{clientes2[i]}}" aria-describedby="{{clientes2[i]}}" placeholder="Insira {{ clientes2[i].capitalize() }}">
        {% endif %}
         {% endif %}
      </div>
     
       {% endif %}
      {% endfor %}
      
      <br>
      <button class="btn btn-warning btn-lg">
        Cadastrar Item <i class=".glyphicon-glyphicon-pencil"></i></button>
      </div>
  </form>
  
  <br>
  <a href="/clientes">
    
    <button class="btn btn-warning btn-lg">
     Voltar <i class=".glyphicon-glyphicon-pencil"></i>
    </button></a>
    
  </div>

{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<script type="text/javascript">
  $('#fax').mask('(99) 9999-9999');
  $('#cep').mask('00000-000');
  document.getElementById('qt-label').innerHTML = 'Quantidade';
  document.getElementById('mm-label').innerHTML = 'Milimetros';
  document.getElementById('cod_pc-label').innerHTML = 'Código da Peça';
  document.getElementById("data").attributes["required"] = "";   
  document.getElementById('qt').type = 'number';
  document.getElementById('mm').type = 'number';
  document.getElementById('data').type = 'date';
  document.getElementById('gaveta').type = 'number';

 

</script>


{% endblock %}