{% extends "layout.html"%}
{% block body %}
{% if edit == True %}

<h2 class="text-center"> 
  Alterar {% if table == 'contasapagar' %} Contas a Pagar {%else%} {{table.capitalize()}} {%endif%} <i class="fa fa-user-edit"></i>
  
  </h2>
  <hr>
  <div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Please Wait</h3>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    
    </div>
</div>
<div class="container">
  

<form action="/{{table}}/form/{{ content['ID'] or content['Id'] or content['id']}}" method="post">
    {% for i in range(TableLen) %}
    {% if TableCol[i]  != 'ID' and  TableCol[i] != 'id_nf' and TableCol[i] != 'id' and TableCol[i] != 'Id' %}
    <div class="form-group">
        
      {% if TableCol[i] == cliCol %}

     
      <label for="col" id="{{TableCol[i]}}-label">{{ TableCol[i].capitalize() }}</label><i class="fa fa-user"></i>  
     
  
        <select name="{{TableCol[i]}}" class="{{TableCol[i]}}"> 
          {% if clients and cliLen > 0%}
              {% for client in clients %}
              {% if client.ID %}
            
              {% if client.ID | int == content['id_cliente'] or client.ID | int == content['cod_fornecedor'] or client.ID | int == content['id_bike'] or client.ID | int == content['cod_func'] or client.ID | int == content['id_os'] or client.ID | int == content['id_proc'] %}
              <option value="{{ client['ID'] or client['id']  or client['Id'] }}" selected> {{ client['nome'] or client['ferramenta'] or client['Nome'] or client['Numero_Os'] }} </option>
              {% else %}
              <option value="{{ client['ID'] or client['id'] or client['Id'] }}">{{ client['nome'] or client['ferramenta'] or client['Numero_Os'] or client['Nome'] }}</option>
              {% endif %}
        
              {% elif client.id %}
                {% if client.id | int == content['id_cliente'] or client.id | int == content['cod_fornecedor'] or client.id | int == content['id_bike'] or client.id | int == content['cod_func'] or client.id | int == content['id_os'] or client.ID | int == content['id_proc']  %}
                  <option value="{{ client['ID'] or client['id']  or client['Id'] }}" selected>{{client['nome'] or client['ferramenta'] or client['Numero_Os'] or client['Nome']  }}</option>
                {% else %}
                  <option value="{{ client['ID'] or client['id'] or client['Id'] }}">{{client['nome'] or client['ferramenta'] or client['Numero_Os'] or client['Nome'] }}</option>
                {% endif %}
              {% elif client.Id %}
                {% if client.Id | int == content['id_cliente'] or client.Id | int == content['cod_fornecedor'] or client.Id | int == content['id_bike'] or client.Id | int == content['cod_func'] or client.Id | int == content['id_os'] or client.ID | int == content['id_proc'] %}
                  <option value="{{ client['ID'] or client['id'] or client['Id']  }}" selected>{{client['nome'] or client['ferramenta'] or client['Nome'] or client['Numero_Os'] }}</option>
                {% else %}
                  <option value="{{ client['ID'] or client['id'] or client['Id'] }}">{{client['nome'] or client['ferramenta'] or client['Nome'] or client['Numero_Os'] }}</option>
                {% endif %}

              {% endif %}
             
              {% endfor %}    
             {%else%}
             <option value="" id="emptyoption" selected> Cadastre suas Opções </option>
        {% endif %}
         
        </select> <br>
       {%elif TableCol[i] == sel2Col%}

          <select name="{{TableCol[i]}}" class="{{TableCol[i]}}"> 
            {%if sel2Len == 0%}  
              <option value="" id="emptyoption" selected> Cadastre suas Opções </option>
          
            {% elif selection2 and sel2len != 0 %}
            {% for client in selection2 %}
            {% if client.ID %}
              {% if client.ID | int == content['id_cliente'] or client.ID | int == content['cod_fornecedor']  or client.ID | int == content['id_os'] or client.ID | int == content['id_proc']%}
              <option value="{{ client['ID'] or client['id'] or client['Id']  }}" selected> {{ client['nome'] or client['ferramenta'] or client[keysel2]['Numero_Os'] }} </option>
              {% else %}
              <option value="{{ client['ID'] or client['id'] or client['Id'] }}">{{ client['nome'] or client['ferramenta'] or client['Numero_Os'] }}</option>
              {% endif %}
            
            {% elif client.id %}
              {% if client.id | int == content['cod_func'] or client.id | int == content['id_cliente'] or client.id | int == content['cod_fornecedor'] or client.id | int == content['id_os'] or client.id | int == content['id_proc']%}
              <option value="{{ client['ID'] or client['id'] or client['Id']  }}" selected>{{ client['nome'] or client['ferramenta'] or client['Numero_Os'] }}</option>
              {% else %}
              <option value="{{ client['ID'] or client['id'] or client['Id'] }}">{{ client['nome'] or client['ferramenta'] or client['Numero_Os'] or client['Nome'] }}</option>
              {% endif %}
            

          {% elif client.Id %}
              {% if client.Id | int == content['cod_func'] or client.Id  | int == content['id_cliente'] or client.Id | int == content['cod_fornecedor'] or client.Id | int == content['id_os'] or client.Id | int == content['id_proc'] %}
              <option value="{{ client['ID'] or client['id'] or client['Id']  }}" selected>{{ client['nome'] or client['ferramenta'] or client['Numero_Os'] or  client['Nome']  }}</option>
              {% else %}
              <option value="{{ client['ID'] or client['id'] or client['Id']  }}">{{ client['nome'] or client['ferramenta'] or client['Numero_Os'] or  client['Nome'] }}</option>
              {% endif %}
          {% endif %}
          

          {% endfor %}    
          
          
       
      </select> <br>
  
      {% endif %}
      
      {% else %}
  

        {% if TableCol[i] == 'data' and data %}
          <label for="col" id="{{TableCol[i]}}-label">{{ TableCol[i].capitalize() }}</label>
          <input type="text" required class="form-control" id="{{TableCol[i]}}" name="{{TableCol[i]}}" aria-describedby="{{TableCol[i]}}" placeholder="Insira {{TableCol[i].capitalize()}}" value="{{data}}">
          {%else%}
    
    <div class="form-group">
      <label for="col"  id="{{ TableCol[i] }}-label">{{ TableCol[i].capitalize() }}</label>
      <input type="text" type="text" class="form-control"  name="{{ TableCol[i] }}" id="{{ TableCol[i] }}" aria-describedby="{{TableCol[i]}}" placeholder="Insira {{ TableCol[i].capitalize() }}" value="{{ content[TableCol[i]] }}">
    </div>
  
     {% endif %}
     {% endif %}
     {% endif %}
    {% endfor %}
    <button class="btn btn-warning btn-lg">
      Alterar {% if table == 'contasapagar' %} Conta {%else%} {{table.capitalize()}}{%endif%} <i class=".glyphicon-glyphicon-pencil"></i></button>
 
</form>

{% if table == 'ponto' %}

<form action='fim/{{content["id"]}}'><button class="btn btn-warning btn-lg">
  Finalizar Ponto <i class=".glyphicon-glyphicon-pencil"></i></button> </form> 


{%endif%} 

<!-- TEST-->



  <form action="/delete/table={{table}}&id={{ content['ID'] or content['id'] or content['Id'] }}" method="post">
    <button class="btn btn-danger btn-lg">
     Deletar <i class=".glyphicon-glyphicon-pencil"></i>
    </button></form>
    <br>
<form action="/{{table}}/form/" method="get">
  <button class="btn btn-primary btn-lg">
   Cadastrar Novo <i class=".glyphicon-glyphicon-pencil"></i>
  </button></form>

  <form action="/{{table}}" method="get">
    <button class="btn btn-primary btn-lg">
     Voltar <i class=".glyphicon-glyphicon-pencil"></i>
    </button></form>

</div>

{% else %}
<h2 class="text-center"> 
  Cadastro de {% if table == 'contasapagar' %} Contas a Pagar {%else%} {{table.capitalize()}} {%endif%} <i class="fa fa-user-edit"></i>
  
  </h2><hr>
<div class="container">
 
  {% if table == 'ponto' %}
  <form action="/{{table}}/form/inicio" method="post">
    {%else%}
    <form action="/{{table}}/form/" method="post">
      {%endif%}
      {% for i in range(TableLen) %}
      {% if TableCol[i] != 'ID' and TableCol[i] != 'id_nf' and TableCol[i] != 'id' and TableCol[i] != 'Id' %}
      <div class="form-group">
      
        {% if cliCol and TableCol[i] == cliCol %}
      
        <label for="col" id="{{TableCol[i]}}-label">{{ TableCol[i].capitalize() }}</label><i class="fa fa-user"></i>            
    
          <select name="{{ TableCol[i] }}" class="{{ TableCol[i] }}" required> 
            {% if not cliLen %}
                <option value="0" selected disabled>CADASTRE SUA OPÇÃO</option>
                {% elif cliLen %}   
                <option value="0" selected disabled>CADASTRE SUA OPÇÃO</option>
                {% for client in range(cliLen) %}
                    <option value="{{ clients[client]['ID'] or clients[client]['id']  or clients[client]['Id'] }}">{{clients[client]['nome'] or clients[client]['ferramenta'] or clients[client]['Numero_Os'] or clients[client]['Nome'] }}</option>
                {% endfor %}    
               
           
          </select> <br>
         
          {% endif %}
          {% elif selection2 and sel2Col and TableCol[i] == sel2Col %}
          
          <label for="col" id="{{TableCol[i]}}-label">{{ TableCol[i].capitalize() }}</label><i class="fa fa-user"></i>            
      
            <select name="{{ TableCol[i] }}" class="{{ TableCol[i] }}" required> 
              {% if not sel2Len %}
                  <option value="0" selected disabled>CADASTRE SUA OPÇÃO</option>
              {%elif sel2Len%}
                  <option value="0" selected disabled>CADASTRE SUA OPÇÃO</option>
                  {% for keysel2 in range(sel2Len) %}
                      <option value="{{ selection2[keysel2]['ID'] or selection2[keysel2]['id'] or selection2[keysel2]['Id'] }}">{{selection2[keysel2]['nome'] or selection2[keysel2]['ferramenta'] or selection2[keysel2]['Numero_Os'] or selection2[keysel2]['Nome'] }}</option>
                  {% endfor %}    
                 
             
            </select> <br>

          {%endif%}
    
    
        
        {% else %}

        {% if TableCol[i] == 'data'  and data%}

        <label for="col" id="{{TableCol[i]}}-label">{{ TableCol[i].capitalize() }}</label>
        <input type="text" class="form-control" id="{{TableCol[i]}}" name="{{TableCol[i]}}" aria-describedby="{{TableCol[i]}}" placeholder="Insira {{TableCol[i].capitalize()}}" value="{{data}}">
        {% elif table == 'ponto'%}    
        <label for="col" id="{{TableCol[i]}}-label">{{ TableCol[i].capitalize().replace('_', ' ') }}</label>
        <input class="form-control"  id="{{TableCol[i]}}" name="{{TableCol[i]}}" aria-describedby="{{TableCol[i]}}" {% if i == 1 and numfield %}value="{{numfield}}" type="number"{% elif TableCol[i] == "Tempo_Objetivo" %} type="number" placeholder="Minutos"{%endif%} placeholder="Insira {{ TableCol[i].capitalize().replace('_', ' ') }}" type="text">
        {%else%}
        <label for="col" id="{{TableCol[i]}}-label">{{ TableCol[i].capitalize().replace('_', ' ') }}</label>
        <input class="form-control" id="{{TableCol[i]}}" name="{{TableCol[i]}}" aria-describedby="{{TableCol[i]}}" {% if i == 1 and numfield %}value="{{numfield}}" type="number"{% elif TableCol[i] == "Tempo_Objetivo" %} type="number" placeholder="Minutos"{%endif%} placeholder="Insira {{ TableCol[i].capitalize().replace('_', ' ') }}" type="text">
        {% endif %}
       
        
      </div>
      {% endif %} 
      {% endif %} 
      {% endfor %}
    
      <br>
      <button class="btn btn-dark btn-lg" >
        {% if table == 'ponto' %}  Iniciar Ponto  {% elif table == 'contasapagar' %} Cadastrar Conta {%else%} Cadastrar {{table.capitalize()}}{%endif%}<i class=".glyphicon-glyphicon-pencil"></i></button>
      
  </form>
  
  <br>

  
  </div>
  <a href="/{{table}}">
    
    <button class="btn btn-primary btn-lg">
     Voltar <i class=".glyphicon-glyphicon-pencil"></i>
    </button></a>
  </div>

{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
    integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script type="text/javascript" src="{{ url_for('static',
      filename='js/load.js')}}"></script>
<script type="text/javascript">
/*if ( document.getElementById('cnpj-search') && typeof document.getElementById('cnpj-search').innerHTML != 'undefined'){
  
  document.getElementById("cnpj-search").addEventListener("click", async function (){
    
    let cnpj = document.getElementById("cnpj").value;
    await loadcnpj(cnpj)});
}*/
  //$('#fax').mask('(99) 9999-9999');
 
  /*$(window).on('load', function() {
       $('#myModal').modal('show');
       setTimeout(1500)
       $('#myModal').modal('hide');
  });*/

  $('#data').mask('00/00/0000');
  $('#vencimento').mask('00/00/0000');
  $('#data_pagamento').mask('00/00/0000');
if (document.getElementById('numero_nf-label') && typeof document.getElementById('numero_nf-label').innerHTML != 'undefined' ) {
  document.getElementById('numero_nf-label').innerHTML = 'Número N.F';
  document.getElementById('data_nf-label').innerHTML = 'Data da N.F';
  document.getElementById('valor_nf-label').innerHTML = 'Valor da N.F';

}

if (document.getElementById('qt-label') && typeof document.getElementById('qt-label').innerHTML != 'undefined' ) {
  document.getElementById('qt-label').innerHTML = 'Quantidade';
  document.getElementById('mm-label').innerHTML = 'Milimetros';
  $('#cep').mask('00000-000');
  document.getElementById("data").attributes["required"] = "";  
  document.getElementById('gaveta').type = 'number';
  document.getElementById('qt').type = 'number';
  document.getElementById('qt').placeholder = 'Insira Quantidade';
}
if ( document.getElementById('cod_pc') && typeof document.getElementById('cod_pc').innerHTML != 'undefined'){
  document.getElementById('cod_pc-label').innerHTML = 'Código da Peça';
  document.getElementById('cod_pc').placeholder = 'Insira o Código da Peça';
  document.getElementById('id_cliente-label').innerHTML = 'Cliente';
  document.getElementById('mm').type = 'number';
}
if (document.getElementById('prazo_entrega-label') && typeof document.getElementById('prazo_entrega-label').innerHTML != 'undefined'){
  document.getElementById('prazo_entrega-label').innerHTML = 'Prazo de Entrega';
  document.getElementById('prazo_entrega').placeholder = 'Prazo de Entrega';

  document.getElementById('prazo_pagto-label').innerHTML = 'Prazo de Pagamento';
  document.getElementById('prazo_pagto').placeholder = 'Prazo de Pagamento';

  document.getElementById('cod_item-label').innerHTML = 'Código do Item';
  document.getElementById('cod_item').placeholder = 'Código do Item';

  //document.getElementById('prazo_entrega-label').innerHTML = 'Prazo de Entrega';
  

}

if ( document.getElementById('cnpj') && typeof document.getElementById('cnpj').innerHTML != 'undefined'){
  
  cnpj = document.getElementById('cnpj')
  cnpj.addEventListener('input', async function(evt){
    document.getElementById("nome").value = 'Carregando...';
    document.getElementById("endereco").value = 'Carregando...';
    document.getElementById("cidade").value = 'Carregando...';
    document.getElementById("estado").value = 'Carregando...';
    document.getElementById("cep").value = 'Carregando...';
    document.getElementById("email").value = 'Carregando...';
    await loadcnpj(this.value)});
    document.getElementById("nome").value.replace('Carregando...', '')
    document.getElementById("endereco").value.replace('Carregando...', '')
    document.getElementById("cidade").value.replace('Carregando...', '')
    document.getElementById("estado").value.replace('Carregando...', '')
    document.getElementById("cep").value.replace('Carregando...', '')
    document.getElementById("email").value.replace('Carregando...', '')
}

if ( document.getElementById('data_pagamento-label') && typeof document.getElementById('data_pagamento-label').innerHTML != 'undefined'){
  document.getElementById('cod_fornecedor-label').innerHTML = 'Fornecedor';
  //document.getElementById('emptyoption').innerHTML = 'Fornecedor'
  document.getElementById('vencimento').placeholder = 'dd/mm/yyyy';
  document.getElementById('data_pagamento-label').innerHTML = 'Data do Pagamento';
  document.getElementById('data_pagamento').placeholder = 'dd/mm/yyyy';
  $('#valor').mask("# ##0,00", {reverse: true});
  $('#pago').mask("# ##0,00", {reverse: true});
  $('#vencimento').mask("00/00/0000");
  $('#data_pagamento').mask("00/00/0000");
}


</script>


{% endblock %}