<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">

      <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

      <script type="text/javascript" src="{{ url_for('static',
      filename='js/jquery.mask.min.js')}}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
      integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="crossorigin="anonymous"></script>


      <script type="text/javascript" src="{{ url_for('static',
      filename='js/vue.js')}}"></script>

      

     

     

      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

      
 



    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
      filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{
      url_for('static',filename='css/style.css') }}">
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+2:400,500,700&display=swap"
      rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->

   
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
      rel="stylesheet">

    <title>Peppertools | {{title or table.capitalize()}}</title>

  </head>
  <body>
    {% with level = get_level() %}
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <a class="navbar-brand" href="/">Pimentel Ferramentas</a>
      <button 

      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
        
        >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if level == 1%}
      
     
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ active1 }}">
            <a class="nav-link" href="/ponto">Ponto <span class="sr-only">(current)</span></a>
          </li>
          {elif  level == 2 or level == 3 or level == 4 %}
         
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {{ active1 }}">
                <a class="nav-link" href="/inicio">Início <span class="sr-only">(current)</span></a>
              </li>
          {%endif%}
          {%if level == 2 or level == 3 or level == 4%}
          <li class="nav-item dropdown {{ active2 }}">
            <a class="nav-link dropdown-toggle" id="estoque" href="/estoque"
              id="navbarDropdown" role="button" data-toggle="dropdown"
              data-target="#estoque-dropdown"
              aria-haspopup="true" aria-expanded="false">
              Inventário
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="estoque-dropdown">
              <a class="dropdown-item" href="/estoque">Estoque</a>
              <a class="dropdown-item" href="/estoque/form">Cadastrar Estoque</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/fornecedores">Fornecedores</a>
              <a class="dropdown-item" href="/fornecedores/form/">Cadastrar
                Fornecedor</a>
            </div>
          </li>
          {%endif%}
         {% if level == 2  or level == 4%}

          <li class="nav-item dropdown {{ active2 }}">
            <a class="nav-link dropdown-toggle" id="estoque" href="/estoque"
              id="navbarDropdown" role="button" data-target="#funcionarios-dropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Produção
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="funcionarios-dropdown">
              <a class="dropdown-item" href="/funcionarios">Funcionario</a>
              <a class="dropdown-item" href="/funcionarios/form">Cadastrar Funcionario</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/processos">Processos</a>
              <a class="dropdown-item" href="/processos/form">Cadastrar
                Processo</a>
            </div>
          </li>
      {%endif%}

          {% if level == 3 or level == 4%}


          <li class="nav-item dropdown {{ active3 }}">
            <a class="nav-link dropdown-toggle" id="clientes" href="/clientes"
              id="navbarDropdown" role="button" data-toggle="dropdown"
              data-target="#contasapagar-dropdown"
              aria-haspopup="true" aria-expanded="false">
              Contas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id ="contasapagar-dropdown">
              <a class="dropdown-item" href="/contasapagar">Contas a Pagar</a>
              <a class="dropdown-item" href="/contasapagar/form">Cadastrar</a>
            </div>
          </li>
          {%endif%}
          {% if level == 2 or level == 4%}
          <li class="nav-item dropdown {{ active4 }}">
            <a class="nav-link dropdown-toggle" id="os" href="/os"
              id="navbarDropdown" role="button" data-toggle="dropdown"
              data-target="#os-dropdown"
              aria-haspopup="true" aria-expanded="false">
              Vendas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="os-dropdown">
              <a class="dropdown-item" href="/clientes">Clientes</a>
              <a class="dropdown-item" href="/clientes/form">Cadastrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/os">Ordem de Servi&ccedil;o</a>
              <a class="dropdown-item" href="/os/form">Cadastrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/notafiscal">Nota Fiscal</a>
              <a class="dropdown-item" href="/notafiscal/form">Cadastrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/orcamento">Or&ccedil;amento</a>
              <a class="dropdown-item" href="/orcamento/form">Cadastrar</a>
            </div>
          </li>
          {%endif%}
        </ul> 
        <div class="d-flex flex-row-reverse input-group w-auto">
         
          <form  action="/logout">
          <button class="btn btn-outline-danger" type="submit">Log
            out</button>
            
        </form>

        {% if level == 2 or level == 4%}
        <a  href="{{ url_for('static',filename='assets/pepper-app.apk')}}" download>
          <button class="btn btn-outline-info" type="submit">Baixar App</button>
      </a>
          {%endif%}

        </div>
        

      </div>
     
      {% endwith %}
    </nav>

    <!-- before-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-info alert-dismissible" style="padding: 10px 10px
      20px 10px;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong margin-top="15px">{{ message }}</strong>
    </div>



    {% endfor %}

    {% endif %}
    {% endwith %}

    <!--after-->
    <div class="mx-auto" style="width: 100%; height:5%;">
      &nbsp;
    </div>

 <div class="container-fluid">
    {% block body %}
      {% endblock %}
 </div>
     
 <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
 <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>



 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
    <script type="text/javascript" src="{{ url_for('static',
      filename='js/jquery.mask.js')}}"></script>
    

  
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',
      filename='js/addons/datatables.min.js')}}"></script>
    
   
    <script
      src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    





  </body>
</html>