{% extends 'layout.html' %}
{% block body %}
<!--- 
<div class="form-group mb-3">
    <label for="limit">Items:</label>
    <input class="form-control" id="limit" type="number" min="5" max="7913"
        step="5" onchange="loadEstoque(this.value)">
    <label for="usr">Filtrar por:</label>
    <select name="filter" id="filter" class="filter">
        <option value="" selected disabled>Selecione</option>
        {% for column in keys %}
        <option value="{{column}}">{{column.capitalize()}}</option>
        {% endfor %}





    </select> <br>
    <input type="hidden" id="infilter" onchange="filter(this.value, 'estoque')"
        />
</div> -->

<h2 class="text-center font-weight-bold mb-5 mt-5">{% if table == 'locacao' %} Locação {%elif table == 'contasapagar' %} Contas a Pagar {%else%} {{ table.capitalize() }}{%endif%}</h2>
<h5>
  <a href="/{{table}}/form/" >
   <button class="btn btn-secondary">Adicionar</button> 
    </a>
  </h5>
<div class="table-responsive text-nowrap">


<table class="table table-striped" id="customTable" style="table-layout: fixed;
width: 100%;">
    <thead class="black white-text">
        <tr id="columns">
            {% for column in keys %}
            {% if column != 'ID' and column != 'Id' and column != 'id' %}
        <td id="{{column}}" scope="col">{{column.capitalize()}}</td>
        {%endif%}
        {%endfor%}
        <td id="edit" scope="col">&nbsp Editar</td>
        <td id="delete" scope="col">&nbsp Deletar</td>
        </tr>
    </thead>
    <tbody id="all">
        {% for item in content %}
        <tr>
        {% for column in keys %}
        {% if column != 'ID' and column != 'Id' and column != 'id' %}
        <td>{{item[column]}}</td>
        {%endif%}
        {%endfor%}
      
        <td width="15%" float="left"><a href="{{table}}/form/{{ item['Id'] or item['ID'] or item['id']}}">
            <button type="submit" class="btn-link">Editar</button>
        </a> </td>
        <td width="15%" float="left">
       
        <button type="submit" data-toggle="modal" data-target="#confirmar{{ item['Id'] or item['ID'] or item['id']}}" class="btn-link">Deletar</button>
        <div class="modal fade" id="confirmar{{ item['Id'] or item['ID'] or item['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <a href="delete/table={{table}}&id={{ item['Id'] or item['ID'] or item['id']}}">
                  <button type="button" class="btn btn-primary">Deletar</button></a>
                </div>
              </div>
            </div>
          </div>`
    </td>
            </tr>
        {%endfor%}
        
       
    </tbody>
</table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
    integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
$('#customTable').DataTable({
"searching": true // false to disable search (or any other option)
});
$('.dataTables_length').addClass('bs-select');
//$('dataTables_empty').val('Vazio')
});
//document.getElementsByClassName("dataTables_empty").innerHTML = "Vazio."

</script>
 

{% endblock %}