{% extends 'layout.html' %}
{% block body %}

<div class="form-group mb-3">
  <label for="limit">Quantidade de O.S:</label>
  <input class="form-control" id="limit" type="number" min="5" max="7913"
    step="5" onchange="loadOs(this.value)">
  <label for="usr">Especificacao:</label>
  <input class="form-control" type="text" id="query"
    onchange="filterOs(this.value)">
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Numero O.S</th>
      <th scope="col">Cliente</th>
      <th scope="col">Data</th>
      <th scope="col">Prazo</th>
      <th scope="col">Especificacao</th>
      <th scope="col"> Editar</th>
      <th scope="col"> Deletar</th>
    </tr>
  </thead>
  <tbody id="all">

  </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
  integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/loadOs.js') }}"
  type="text/javascript"></script>

{% endblock %}