{% extends "layout.html" %}
{% block body %}

<div class="table-responsive-md">
    <table id="dtBasicExample" class="table table-borderless" cellspacing="0">
    <thead> <tr>
    {% for col in os %}    
        {% if col != 'Id' and col != 'Id_cliente' %}
        <th class="{{ col }} header th-sm" scope="col">{{ col.capitalize() }}</th>
        {% endif %}
    {% endfor %}
    <th class="editar" scope="col">A&ccedil;&otilde;es</th>
    </tr>
</thead>
<tbody>
    
    {% for row_data in range(val_len) %} 
       {% if row_data != 0 or  row_data != 3 %}
    <tr>   
            {% for col_data in range(os_len) %} 
            {% if col_data != 0 %}
                <td>
                    {% if not os_val[row_data][col_data] %}
                     {{" "}}
                     {% else %}
                        {{os_val[row_data][col_data] }}
                    {% endif %}
                </td>
                {% endif %} 
            {% endfor %}
           
            <td width="15%" float="left"><a href="os/form/{{os_val[row_data][2]}}" target='_blank'>
                <button type="submit" class="btn-link">Editar</button>
            </a>
            <a href="os/form/delete/{{os_val[row_data][2]}}" target='_blank'>
                <button type="submit" class="btn-link">Deletar</button>
            </a>
            </td>
    </tr> 
    {% endif %}       
    {% endfor %}

</tbody>
   
    
    </table>
</div>


<script type="text/javascript">
    // Basic example

</script>

{% endblock %}