{% extends 'layout.html' %}
{% block body %}

<div class="form-group mb-3">
  <label for="limit">Quantidade de O.S:</label>
  <input class="form-control" id="limit" type="number" min="5" max="7913"
    step="5" onchange="loadOs(this.value)">
  <label for="usr">Especificacao:</label>
  <input class="form-control" type="text" id="query"
    onchange="filterOs(this.value)">
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Numero O.S</th>
      <th scope="col">Cliente</th>
      <th scope="col">Data</th>
      <th scope="col">Prazo</th>
      <th scope="col">Especificacao</th>
      <th scope="col"> Editar</th>
      <th scope="col"> Deletar</th>
    </tr>
  </thead>
  <tbody id="all">

  </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
  integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="crossorigin="anonymous"></script>
<script type="text/javascript">
async function loadOs(limit = 10) {
  document.getElementById("all").innerHTML = "";

  const URL = `http://localhost:5000/api/os/limit=${limit.toString()}`;
  await axios(URL,  { headers: {'authorization': '{{auth}}' } }).then((response) => {
    console.log(response);
    response.data.map((val, i) => {
      
     data = new Date(val.Data).toUTCString();
     data = data.split(' ').slice(0, 4).join(' ');
     prazo = new Date(val.Prazo).toUTCString();
     prazo = prazo.split(' ').slice(0, 4).join(' ');
      
      console.log(val);
      document.getElementById("all").innerHTML += `<tr> 
      <th scope="row"><a href='/os/form/print/${val.Id}' target='_blank'> ${
        val.Numero_Os
      } </a></th>
      <td>${val.nome.replace(/\s.*/, "")}</td>
      <td>${data}</td>
      <td>${prazo}</td>
      <td>${val.Especificacao}</td>
       <td width="15%" float="left"><a href="os/form/${val.Id}">
                <button type="submit" class="btn-link">Editar</button>
            </a>
         </td>
          <td>
         <a href="os/form/delete/${val.Id}">
                <button type="submit" class="btn-link">Deletar</button>
            </a>
            </td>
    </tr>
    `;
    });
  });
}

async function filterOs(q) {
  document.getElementById("all").innerHTML = "<p>Carregando..</p>";
  let limit = document.getElementById("limit").value;
  //let q = document.getElementById("query").value;
  console.log(q);
  if (!limit) {
    limit = 10;
  }
  const URL = `http://localhost:5000/api/os/q=${q.toString()}`;
  document.getElementById("all").innerHTML = "";
  await axios(URL,  { headers: {'authorization': '{{auth}}' } } ).then((response) => {
    response.data.map((val, i) => {
     data = new Date(val.Data).toUTCString();
     data = data.split(' ').slice(0, 4).join(' ');
     prazo = new Date(val.Prazo).toUTCString();
     prazo = prazo.split(' ').slice(0, 4).join(' ');
      console.log(val);
      document.getElementById("all").innerHTML += `<tr> 
      <th scope="row"><a href='/os/form/print/${val.Id}' target='_blank'> ${val.Numero_Os} </a></th>
      <td>${val.nome.replace(/\s.*/, "")}</td>
      <td>${data}</td>
      <td>${prazo}</td>
      <td>${val.Especificacao}</td>
       <td width="15%" float="left"><a href="os/form/${val.Id}" target='_blank'>
                <button type="submit" class="btn-link">Editar</button>
            </a>
         </td>
          <td>
         <a href="os/form/delete/${val.Id}" target='_blank'>
                <button type="submit" class="btn-link">Deletar</button>
            </a>
            </td>
    </tr>
    `;
    });
  });
}



document.addEventListener("DOMContentLoaded", loadOs(10));
</script>

{% endblock %}