{% extends 'layout.html'%}

{% block body%}

<h2 class="text-center" margin-top="50px">
	O.S <i class="fa fa-user-edit"></i>
	{% if procinfo %}
	<br>
	<br>
	 STATUS: {{ procinfo['Nome']}} 
	 {% endif%}
	</h2>
<!---<h5 class="text-center">
	Datas serao alteradas para 'dd/mm/ano' <i class="fa fa-user-edit"></i>
--->
</h5>

<hr>

<form method="post" action="/os/form/{{field['Id']}}">

	<div class="container">
		<div class="form-row">


			<div class="col-md-4">
				Numero OS: 
				{% if field['Numero_Os'] != nill %}
				<input class="form-control" type="text" name="Numero_Os" readonly required
					autofocus value="{{field['Numero_Os']}}"> <br>
				{% else %}
				<input class="form-control" type="text" name="Numero_Os" readonly required
					autofocus value="{{os_num}}"> <br>
				{% endif %}
			</div>

			<div class="col-md-6">
				<div class="form-group">
				STATUS: <i class="fa fa-map"></i>

				<select name="STATUS" id="STATUS form-id" width="100px">
					{% for process in processes%}
					{% if field['STATUS'] %}
					{% if field['STATUS'] |int  == process.ID %}
					<option value="{{process.ID}}" selected>{{process.Nome}}</option>
					{%else%}
					<option value="{{process.ID}}">{{process.Nome}}</option>
					{% endif %}
					{%else%}
					<option value="{{process.ID}}">{{process.Nome}}</option>
					{% endif %}
					{% endfor %}

				</select>
				{% if field['Id'] != nill %}
				<br>
				<button class="btn btn-dark btn-sm">
					Atualizar O.S <i class=".glyphicon-glyphicon-pencil"></i>

				</button> {%endif%}
			</div>
			</div>


			<br>

			<div class="col-md-6">
				<div class="form-group">
					Cliente: <i class="fa fa-user"></i>


					<select name="Id_Cliente" class="Id_Cliente form-control" id="Id_Cliente
						form-id">
						<option value="0" disabled selected>SELECIONAR CLIENTE</option>

						{% for client in clients %}
						{%if field['Id_Cliente'] != nill and field['Id_Cliente'] == client['ID']%}
						<option value="{{client['ID']}}" selected>{{ client['nome']}}</option>
						{% else %}
						<option value="{{client['ID']}}">{{ client['nome'] }}</option>
						{% endif %}
						{%endfor%}

					</select> <br>
					<p id="msg"></p>


				</div>
			</div>

			<div class="col-md-12">


			</div>


			<div class="col-md-12">


			</div>

			<div class="col-md-6">
				<div class="form-group" id="form-id">
					Ferramenta <i class="fa fa-envelope"></i>
					<input class="form-control" type="text" name="Ferramenta" value="{{
						field['Ferramenta'] if field['Ferramenta'] != 'None' }}"><br>
				</div>
			</div>

			<div class="col-md-4">
				Desenho Cliente <i class="fa fa-address-card"></i>
				<input class="form-control" type="text" name="Desenho_Cliente"
					id="Desenho_Cliente" value="{{field['Desenho_Cliente'] if
					field['Desenho_Cliente'] != 'None' }}"> <br>

			</div>

			<div class="col-md-4">
				Desenho Pimentel <i class="fa fa-address-card"></i>
				<input class="form-control" type="text" name="Desenho_Pimentel"
					id="Desenho_Pimentel" value="{{field['Desenho_Pimentel'] if
					field['Desenho_Pimentel'] != 'None' }}"> <br>

			</div>

			<div class="col-md-2">
				Data (ordem correta): <i class="fa fa-calender"></i>
				{% if field['Data'] != nill %}
				<input class="form-control" type="text" name="Data" data-mask="00/00/0000"
					readonly value="{{field['Data'] if field['Data'] != 'None' }}"> <br>
				{% else %}
				<input class="form-control da" type="text" name="Data"
					data-mask="00/00/0000" readonly value="{{data}}"> <br>
				{% endif %}

			</div>

			<div class="col-md-2">
				Prazo: <i class="fa fa-calender"></i>
				<input class="form-control da" type="text" name="Prazo"
					data-mask="00/00/0000" value="{{ field['Prazo'] if field['Prazo'] != 'None'
					else '' }}"> <br>

			</div>

			<div class="col-md-6" id="form-id">
				Especificacao: <i class="fa fa-map"></i>
				<textarea name="Especificacao" class="form-control">{{field['Especificacao']
					if field['Especificacao'] != 'None'}}</textarea>
				<br>

			</div>

			<div class="col-md-6" id="form-id">
				Grava&ccedil;&atilde;o: 
				<input class="form-control" type="text" name="gravacao" value="{{
					field['gravacao'] if field['gravacao'] != 'None' else '' }}"> <br>

			</div>

			<div class="col-md-6" id="form-id">
				Grava&ccedil;&atilde;o 2: 
				<input class="form-control" type="text" name="gravacao2"
					value="{{field['gravacao2'] if field['gravacao2'] != 'None' else '' }}">
				<br>
			</div>


			<div class="col-md-6">
				Material: 
				<input class="form-control" type="text" name="Material" value="{{
					field['Material'] if field['Material'] != 'None' else '' }}"> <br>

			</div>

			<div class="col-md-2">
				Unidade: 


				<select name="unidade" class="">
					{% if field['unidade'] != nill %}

					{% if field['unidade'] == 'jogo' %}
					<option value='jogo' selected>Jogo</option>
					<option value='peca'>Pe&ccedil;a</option>
					{% else %}
					<option value='jogo'>Jogo</option>
					<option value='peca' selected>Pe&ccedil;a</option>
					{%endif%}
					{%else%}
					<option value='peca' selected>Pe&ccedil;a</option>
					<option value='jogo'>Jogo</option>
					{%endif%}

				</select> <br>



			</div>


			<div class="col-md-2">
				Tipo: 


				<select name="Tipo">
					{% if field['Tipo'] != nill %}
					{% if field['Tipo'] == 'fabricacao' %}
					<option value='afiacao'>Afia&ccedil;&atilde;o</option>
					<option value='fabricacao' selected>Fabrica&ccedil;&atilde;o</option>
					<option value='modificacao'>Modifica&ccedil;&atilde;o</option>
					{%elif field['Tipo'] == 'modificacao'%}
					<option value='afiacao'>Afia&ccedil;&atilde;o</option>
					<option value='fabricacao'>Fabrica&ccedil;&atilde;o</option>
					<option value='modificacao' selected>Modifica&ccedil;&atilde;o</option>
					{% else %}
					<option value='afiacao' selected>Afia&ccedil;&atilde;o</option>
					<option value='fabricacao'>Fabrica&ccedil;&atilde;o</option>
					<option value='modificacao'>Modifica&ccedil;&atilde;o</option>
					{% endif %}
					{% else %}
					<option value='afiacao' selected>Afia&ccedil;&atilde;o</option>
					<option value='fabricacao'>Fabrica&ccedil;&atilde;o</option>
					<option value='modificacao'>Modifica&ccedil;&atilde;o</option>
					{% endif %}


				</select> <br>



			</div>


			<div class="col-md-2">
				Quantidade: 
				<input class="form-control" type="number" name="Quantidade" min="1"
					value="{{field['Quantidade'] if field['Quantidade'] != 'None' else ' ' }}">
				<br>

			</div>

			<div class="col-md-4">
				Nota Fiscal: 
				<input class="form-control" type="text" name="Numero_Nf"
					value="{{field['Numero_Nf'] if field['Numero_Nf'] != 'None' else ' ' }}">
				<br>

			</div>

			<div class="col-md-4">
				Numero do Pedido: 
				<input class="form-control" type="text" name="Numero_Pedido"
					value="{{field['Numero_Pedido'] if field['Numero_Pedido'] != 'None' else '
					' }}"> <br>

			</div>

			<div class="col-md-2">
				Data da Nota Fiscal: 
				<input class="form-control da" type="text" name="Data_Nf"
					data-mask="00/00/0000" value="{{field['Data_Nf'] if field['Data_Nf'] !=
					'None' else ' ' }}"> <br>

			</div>

			<div class="col-md-2">
				Data do Pedido: 
				<input class="form-control da" type="text" name="Data_Pedido"
					data-mask="00/00/0000" value="{{field['Data_Pedido'] if
					field['Data_Pedido'] != 'None' else ' ' }}"> <br>

			</div>

			


			<div class="col-md-4">
				<input type="hidden" name="Id" value="{{field['Id'] if field['Id'] != 'None'
					else '' }}">

				{% if field['Id'] != nill %}
				<br>
				<button class="btn btn-dark btn-lg">
					Alterar O.S <i class=".glyphicon-glyphicon-pencil"></i>

				</button>

				{% else %}
				<br>
				<button class="btn btn-dark btn-lg" id="cad">
					Cadastrar O.S <i class=".glyphicon-glyphicon-pencil"></i>

				</button>
				{% endif %}
			</div>



		</div>


	</div>
</form>
<br>

<div class="container">

	{% if field['Id'] != nill %}

	<a href="/os/form/delete/{{field['Id']}}">
		<button class="btn btn-danger btn-md">
			Deletar O.S <i class=".glyphicon-glyphicon-pencil"></i>
		</button>
	</a>
	<a href="/os/form/print/{{field['Id']}}" target="blank">
		<button class="btn btn-success btn-md">
			Imprimir O.S <i class=".glyphicon-glyphicon-pencil"></i>
		</button>
	</a>

	{% endif %}
	<br>
	<br>
	<a href="/os">
		<button class="btn btn-primary btn-lg">
			Voltar <i class=".glyphicon-glyphicon-pencil"></i>
		</button>
	</a>
	<a href="/os/form/">
		<button class="btn btn-primary btn-lg">
			Nova O.S <i class=".glyphicon-glyphicon-pencil"></i>
		</button>
	</a>
	<br>
</div>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="{{ url_for('static',
	filename='js/jquery.mask.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',
	filename='js/jquery.mask.min.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static',
	filename='js/sisyphus.min.js')}}">
	  
  $( function() {
$( "#id-form" ).sisyphus()
} );
  </script>


{% endblock%}