Authlib
Click==7.0
Flask
Flask-QRcode
Flask-Session
Jinja2==2.11.1
MarkupSafe==1.1.1
PyJWT==1.7.1
flask-cors
flask-ssl
flask_socketio
gunicorn==19.10.0
itsdangerous==1.1.0
parse
peewee
psycopg2==2.7.7
py-jwt-validator
pymongo==3.10.1
pytz
requests
werkzeug==0.16.1
